{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
{% load static %}
<div id="site-name">
    <img src="{% static 'roulette_icon.png' %}" alt="Roulette icon" height="40px">
    <a href="{% url 'admin:index' %}">Roulette Administartion</a>
    <style>
      #site-name {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    </style>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
